.kt-aside__brand {
    height: 125px;
}

.company-card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.company-card .caption {
    padding: 30px 25px;
    border: 1px solid #eee;
}

.company-card .caption p {
    margin: 0;
}

.company-card {
    margin-bottom: 20px;
}

.thumb-container {
    position: relative;
}

.thumb-container button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.company-attachments a {
    position: relative;
}

.company-attachments a .attachmenttext {
    position: relative;
    top: 3px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.company-attachments .attachment-delete {
    position: absolute;
    right: -6px;
    top: -10px;
    height: 20px;
    width: 20px;
    background: #c30303;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.company-attachments .attachment-delete i {
    font-size: 10px;
    height: 10px;
    width: 10px;
}

.company-attachments>* {
    margin-right: 10px;
    margin-bottom: 20px;
}

.thumbnaihiddenpicker,
#realFilePicker {
    position: absolute;
    left: -99999999px;
    top: -99999999px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 999999999;
    display: none;
}

.preloader .preloaderspinner {
    top: -50px;
    left: -50px;
}

.preloader .preloaderspinner:before {
    width: 100px;
    height: 100px;
}

.thumb-container {
    max-width: 250px;
}

.kt-timeline-v3 .kt-timeline-v3__item .kt-timeline-v3__item-time {
    font-size: 13px;
    width: 100px;
}

.kt-timeline-v3 .kt-timeline-v3__item:before {
    left: 9.1rem;
}

.kt-timeline-v3 .kt-timeline-v3__item .kt-timeline-v3__item-desc {
    padding-left: 11rem;
}

.timeline-item-username .text-muted {
    color: #797979 !important;
}

.timeline-item-username p {
    margin-bottom: 0;
}

.kt-timeline-v3 .kt-timeline-v3__item {
    margin-bottom: 3rem;
}

.header-actions .form-group {
    margin-bottom: 0;
}

.header-actions .form-group select {
    margin: 0 10px;
}

.header-actions .form-group {
    margin-bottom: 0;
    margin: 0 20px;
}

.header-actions .form-group button,
.header-actions .form-group label {
    margin: 0;
}

.client-details .kt-widget5__item .kt-widget5__content:last-child {
    flex-grow: 0;
    text-align: left;
}

.client-details .kt-widget5__item .kt-widget5__content .kt-widget5__pic img {
    max-width: 10.5rem;
}

.kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__title {
    font-size: 2rem;
    color: #595d6e !important;
}

.table th,
.table td {
    vertical-align: middle;
}

.fixed-width {
    width: 220px;
}

#toast-container>div {
    max-width: 500px;
    width: auto;
}

.toast .toast-message {
    font-size: 1rem;
    line-height: 2.1rem;
}

.user-thumbnail-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.roles-checkboxes {
    margin-bottom: 50px;
}

.checkallbox-ind {
    margin-left: 30px;
}